.microgame {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.microgame .invisible-curtain {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
}

.microgame.loading {
  visibility: hidden;
}

.microgame .time-bar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 8px;
  z-index: 1;
  transition: opacity 0.25s;
}

.microgame .time-bar.ending {
  opacity: 0;
}

.microgame .time-bar .time {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: black;
}

.microgame .time-bar.won {
  opacity: 0;
}

.microgame > iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
}
